<%= form_tag(early_access_path, method: 'post', class: 'landing-form') do %>
  <input type="text" class="is-hidden form-check-field" name="early_access[checkField]" placeholder="Are you real?">
  <div class="field has-addons">
    <div class="control">
      <input
        class="input"
        type="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        name="early_access[email]"
        placeholder="Your work email"
      />
    </div>
    <div class="control">
      <button id="landing-submit-button" class="landing-submit-button button is-primary" type="submit">
        Request an invite
      </button>
    </div>
  </div>
<% end %>
