<%= form_tag(signup_passwordless_link_path, method: 'post', class: 'landing-form') do %>
  <input type="text" class="is-hidden" name="checkField" placeholder="Are you real?">
  <input type="text" class="is-hidden" name="requestPage" value="lander">
  <div class="field is-grouped">
    <div class="control">
      <input
        class="input"
        type="email"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        name="email"
        placeholder="name@company.com"
      />
    </div>
    <div class="control">
      <button class="landing-submit-button button px-5" type="submit">
        Sign Up
      </button>
    </div>
  </div>
<% end %>
