<% content_for :page_title do %> Jally <% end %>
<% content_for :extra_meta_tags do %>
<meta content="Make your team feel like a tight-knit tribe, wherever you work from." name="description"/>
<meta content="Jally" property="og:site_name"/>
<meta content="<%= asset_url('apple-touch-icon.png') %>" property="og:image"/>
<meta content="Jally" property="og:title"/>
<meta content="Jally makes your team feel like a tight-knit tribe, wherever you work from." property="og:description"/>
<meta content="summary" name="twitter:card"/>
<meta content="@jally_official" name="twitter:site"/>
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:type" content="website" />
<% end %>

<% content_for :body_tags do %>class="is-boxed has-animations"<% end %>
<div class="body-wrap boxed-container">
<!--  <div class="top-logo-container is-narrow">-->
<!--    <div class="logo-blob blob">-->
<!--      <img src="<%#= asset_pack_path('media/stylesheets/img/logo-blob.svg') %>" class="blob-img">-->
<!--    </div>-->
<!--    <div class="logo-text-container mt-5 ml-5">-->
<!--      <img src="<%#= asset_pack_path('media/stylesheets/img/jally-logo-text-white.svg') %>" class="jally-logo-img">-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="column mt-2 mr-2" align="right">-->
<!--    <div class="column is-narrow mt-4">-->
<!--      <a class="login-link" href="/login/password"> Log In</a>-->
<!--    </div>-->
    <%#= render partial: 'landing/early_access' %>
<!--  </div>-->
  <div class="columns is-mobile">
    <div class="column top-logo-container is-narrow">
      <div class="logo-blob blob">
        <img src="<%= asset_pack_path('media/stylesheets/img/logo-blob.svg') %>" class="blob-img">
      </div>
      <div class="logo-text-container mt-5 ml-5">
        <img src="<%= asset_pack_path('media/stylesheets/img/jally-logo-text-white.svg') %>" class="jally-logo-img">
      </div>
    </div>
    <div class="column"></div>
    <div class="column is-narrow mt-4 mr-2">
      <a class="login-link" href="/login/password"> Log In</a>
    </div>
    <div class="column is-hidden-mobile is-narrow mt-2 mr-2">
      <%= render partial: 'landing/early_access' %>
    </div>
  </div>
</div>
