<% content_for :page_title do %> Org Charts & People Management | OrgBase <% end %>
<% content_for :extra_meta_tags do %>
<meta content="Easily make & publish beautiful org charts with rich team and individual profiles. Enable everyone in the company to better understand the teams and individuals that work there." name="description"/>
<meta content="OrgBase" property="og:site_name"/>
<!--<meta content="<%#= asset_url('apple-touch-icon.png') %>" property="og:image"/>-->
<meta content="OrgBase | Org Charts and People Management" property="og:title"/>
<meta content="Easily make & publish beautiful org charts with rich team and individual profiles" property="og:description"/>
<meta content="summary" name="twitter:card"/>
<meta content="@OrgBase" name="twitter:site"/>
<meta property="og:locale" content="en_US" />
<meta property="og:locale:alternate" content="en_GB" />
<meta property="og:type" content="website" />
<% end %>

<h2> ¡Hola! OrgBase is here! &#x1F973; &#x1F389; &#x1F38A; </h2>

<%#= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
