<p>There is no company or team associated with this account.
  Please <%= mail_to "Jally Support <help@jally.co>", "contact us", subject: "Onboarding our team to Jally" %>
  for onboarding your team to Jally.</p>