
<p class="mt-6 mx-6">
  Hey <%= @user.name %>! There is no PlaySpace associated with this account.
  Please <%= mail_to "Jally Support <help@jally.co>", "contact us", subject: "Onboarding our team to Jally" %>
  if you need further assistance.
</p>