$primary: #61D1DB;
$jally-pink: #F12587;
$jally-light-grey: #A3A3A3;
$jally-dark-grey: #6F7782;
$jally-violet: #6361DB;
$family-primary: 'DM Sans';
$navbar-breakpoint: 300px;

$tooltip-background-color: #F9F9F9;
$tooltip-background-opacity: 1;
$tooltip-color: #696D91;
$tooltip-font-size: 16px;

$slider-thumb-background: $primary;
$slider-track-border: 1px solid #CBD4DB;
$slider-track-background: #FBFBFB;
$slider-output-background: rgba(255,255,255, 0);
$slider-output-width: 5rem;

