.room-container {
  min-width: 720px;
}

.local-participant {
  max-width: 225px;
  position: absolute;
  bottom: 50px;
  left: 5px;
}

.participant {
  display: inline;
  padding-bottom: 2px;
  video {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.room {
  padding: 1em;
  .room-url {
    width: 300px;
  }
}

.name {
  position: absolute;
  top: 8px;
  left: 8px;
  margin: 0;
  padding: 0.2em 0.5em;
  background: $jally-pink;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  border-radius: 10px;
}

.local-participant .name {
  font-size: 10px;
}

.shared-panel {
  height: 100%;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $jally-violet;
  color: white;
  overflow: auto;
}
.full-room-height {
  height: 72vh;
}
.is-half-height {
  height: 49%;
}
