@import "bulma-defaults";
@import "~bulma";
@import "~bulma-slider";
@import "~bulma-tooltip";
@import "~bulma-switch";
@import "~flatpickr";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "radio-cards";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  z-index: -1;
  color: #696d91;
}

.jally-content {
  flex: 1 0 auto;
}

.jally-footer {
  color: white;
  padding: 18px;
  background: white url('../img/bottom-center-blob.svg') no-repeat center;
}

.input:focus {
  outline: none !important;
  border:1px solid $primary;
  box-shadow: 0 0 10px #719ECE;
}

.jally-card {
  height: 159px;
  width: 309px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  line-height: 30px;
  .jally-card-header {
    font-weight: 700;
    font-size: 46px;
  }
  .jally-card-text {
    font-weight: 400;
    font-size: 18px;
  }
}

.jally-card.start-card {
  background-color: #F12587;
}

.jally-card.schedule-card {
  background-color: #61D1DB;
}

.jally-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.pending {
  position: relative;
}

.pending::before {
  background: white;
  border-radius: 0.25rem;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.pending::after {
  animation: loading 1s infinite ease-out;
  background: radial-gradient(rgba(29, 224, 227, 0), rgba(29, 224, 227, 0.75));
  border-radius: 50%;
  content: '';
  height: 6rem;
  width: 6rem;
  position: absolute;
  left: calc(50% - 3rem);
  top: calc(50% - 3rem);
}

@keyframes loading {
  from {
    opacity: 1;
    transform: scale(0.001);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.loading-box {
  height:150px;
}
.notification.is-alert{
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}
.notification.is-notice{
  background-color: $primary;
  color: #fff;
}
.notification.is-success {
  background-color: $primary;
}

input[type="range"].slider.has-output-tooltip.jally-slider + output {
  top: 65px;
  color: $jally-light-grey;
  font-size: 14px;
}

.light-grey-text {
  color: $jally-light-grey;
}

.dark-grey-text {
  color: $jally-dark-grey;
}
textarea.textarea:not([rows]) {
  min-height: 6em;
}
.link {
  color: $link;
  text-decoration: underline;
  cursor: pointer;
}
.disclaimer-text {
  font-size: 0.8em;
  font-style: italic;
}
.dropdown-content {
  padding-top: 0;
}
.dropdown-item.playspace-name {
  display: flex;
  align-items: center;
  background-color: rgba(97, 209, 219, 0.15);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  img {
    margin-right: 4px;
  }
  span {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 700;
  }
}

.jally-output {
  z-index: 0 !important;
}

.jally-navbar {
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
}

.is-full-height {
  height: 100vh;
}

.center-items {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
}

.jally-left-nav {
  background-color: #F8F8F8;
  text-align: center;
  .playspace-title {
    font-weight: 700;
    font-size: 20px;
    max-width: 250px;
  }

  hr {
    background-color: #696d91;
    border: none;
    display: block;
    height: 1px;
    margin: 0.5rem 5px;
  }
}

.title-16 {
  font-weight: bold;
  font-size: 16px;
}

.text-align-left {
  text-align: left;
}

.greeting-text {
  font-weight: 700;
  font-size: 44px;
}

.game-card-container {
  width: 210px;
  .start-button {
    position: absolute;
    bottom: 25px;
    left: 65px;
    background-color: #01BDD7;
    border: none;
    color: white;
    font-weight: bold;
  }
  .info-icon {
    position: absolute;
    bottom: 15px;
    right: 10px;
    color: white;
  }
  .close-icon {
    position: absolute;
    top: 25px;
    right: 10px;
    color: white;
  }
}

.full-width {
  width: 100%;
}

h2 {
  font-weight: 500;
  font-size: 34px;
  line-height: 43px;
  color: #3D4250;
}

h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  color: #3D4250;
  display: block;
}
.max-width-600 {
  width: 100%;
  max-width: 600px;
}
.session-container {
  display: flex;
  justify-content: center;
}
p {
  color: #696D91;
}

.is-p-color {
  color: #696D91;
}

.is-text-primary {
  color: $primary;
}

.height-40 {
  height: 40px !important;
}

.copy-url {
  width: 310px;
}
