$primary: #1de0e3;
@import "bulma/bulma";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "room";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.jally-content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

header.jally-header {
  background: #ffffff;
  color: $primary;
  text-align: center;

  .logo {
    padding-left: 1.5rem;
    max-width: 190px;
  }
  .jally-logo-img {
    max-width: 100%;
  }
  .logout {
    padding-right: 1.5rem;
  }
}


.footer.jally-footer {
  background: $primary;
    color: $black;
    text-align: center;
    padding: 1rem;
  a {
    color: $black;
    text-decoration: underline;
  }
}

//@import '@fortawesome/fontawesome-free/scss/solid';
//@import '@fortawesome/fontawesome-free/scss/regular';
//@import '@fortawesome/fontawesome-free/scss/brands';
//@import '@fortawesome/fontawesome-free/scss/v4-shims';


////
////#root {
////  min-height: 100vh;
////}
////
////.lobby {
////  min-height: 100vh;
////  display: flex;
////  flex-direction: column;
////}
////
////.lobby-container {
////  flex-grow: 1;
////  text-align: center;
////}
////
//main {
//  position: relative;
//  background: #ffffff;
//  min-width: 1080px;
//}

////.create-room {
////  margin-top: 1em;
////}
////
////button {
////  background: #333e5a;
////  color: #fff;
////  font-size: 16px;
////  padding: 0.4em;
////  border-radius: 6px;
////  border: 1px solid transparent;
////}
////button:hover {
////  filter: brightness(150%);
////}
////
////.room {
////  overflow: auto;
////}
////.clearfix:after {
////  content: "";
////  display: table;
////  clear: both;
////}
////.room .leave-room-btn {
////  position: absolute;
////  top: 0;
////  right: 20px;
////}
////.room > h3 {
////  text-align: center;
////  font-weight: 300;
////  margin-bottom: 1em;
////}
////
////.local-participant {
////  max-width: 250px;
////  position: absolute;
////  bottom: 0em;
////  left: 2em;
////}
////.remote-participants {
////  display: inline-block;
////  max-width: 640px;
////  input {
////    margin: 1em;
////    display: inline-block;
////    width: 230px;
////    height: 30px;
////    text-align: center;
////  }
////  div {
////    display: inline-block;
////  }
////}

//.start-game-button {
//  margin-top: 200px;
//}
////.game-title {
////  margin: 1em 0;
////}
////.game-rules {
////  margin: 1em 0;
////}



