$primary: #61D1DB;
@import "bulma/bulma";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "room";

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.jally-content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

header.jally-header {
  background: #ffffff;
  color: $primary;
  text-align: center;

  .logo {
    padding-left: 1.5rem;
    max-width: 190px;
  }
  .jally-logo-img {
    max-width: 100%;
  }
  .logout {
    padding-right: 1.5rem;
  }
}


.footer.jally-footer {
  background: $primary;
    color: $black;
    text-align: center;
    padding: 1rem;
  a {
    color: $black;
    text-decoration: underline;
  }
}

.input:focus {
  outline: none !important;
  border:1px solid $primary;
  box-shadow: 0 0 10px #719ECE;
}

.jally-card {
  height: 100%;
  transition: all .2s ease-in-out;
  .card-header {
    box-shadow: 0 0 black;
  }
}

.jally-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 1.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.pending {
  position: relative;
}

.pending::before {
  background: white;
  border-radius: 0.25rem;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.pending::after {
  animation: loading 1s infinite ease-out;
  background: radial-gradient(rgba(29, 224, 227, 0), rgba(29, 224, 227, 0.75));
  border-radius: 50%;
  content: '';
  height: 6rem;
  width: 6rem;
  position: absolute;
  left: calc(50% - 3rem);
  top: calc(50% - 3rem);
}

@keyframes loading {
  from {
    opacity: 1;
    transform: scale(0.001);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.loading-box {
  height:150px;
}
.notification.is-alert{
  background-color: #ffdd57;
  color: rgba(0, 0, 0, 0.7);
}
.notification.is-notice{
  background-color: #48c774;
  color: #fff;
}
