body.email-body {
  font-family: Garamond Sans-Serif;
  display: flex;
  justify-content: center;
  color: #696D91;

  .email-container {
    width: 100%;
    max-width: 600px;
  }

  p {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #696D91;
    max-width: 450px;
    margin: 6px 0;
  }

  .jally-logo-img {
    height: 40px;
    padding: 12px 0 0 12px;
  }

  tr {
    text-align: center;
  }

  td.align-left {
    text-align: left;
  }

  h1 {
    color: #696D91;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 6px 0;
  }

  h2 {
    color: #696D91;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 6px 0;
  }

  .jally-button {
    height: 47px;
    background-color: #F12587;
    color: white;
    font-size: 16px;
    line-height: 14px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    &:disabled {
      background-color: #F12587;
      opacity: 0.5;
      color: white;
    }
  }

  .jally-button:hover {
    opacity: 0.9;
    color: white;
  }

  .content-image {
    width: 100%;
    max-width: 450px;
    margin-top: 30px;
  }

  .padding-y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  a.jally-link {
    color: #14AAF5;
  }
  .footer {
    width: 100%;
    max-width: 600px;
    position: relative;
    .jally-logo-footer {
      height: 27px;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      top: 35px;
    }
  }
}