.boxed-container {
  max-width: 1440px;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.blob-container {
  z-index: 1;
  padding: 0;
  position: relative;
}
.blob {
  position: absolute;
  z-index: -999;
}

.top-left-blob {
  top: 0.75rem;
  left: -0.75rem;
  height: 108px;
  min-width: 457px;
  .blob-img {
    height: 100%;
  }
}

.top-right-blob {
  top: 0.75rem;
  right: -0.75rem;
  width: 148px;
  .blob-img {
    width: 100%;
  }
}

.bottom-left-blob {
  bottom: -1.25em;
  left: -0.75em;
  width: 130px;
  .blob-img {
    width: 100%;
  }
}

.bottom-left-blob.blob {
  z-index: 0;
}

.bottom-right-blob {
  bottom: -1.25em;
  right: -0.75em;
  width: 131px;
  .blob-img {
    width: 100%;
  }
}

.bottom-center-blob {
  bottom: -1.25em;
  left: 0;
  right: 0;
  height: 60px;
  .blob-img {
    height: 100%;
  }
}

.jally-avatar {
  position: absolute;
  right: 0;
  top: 1.5rem;
  cursor: pointer;
}

.team-jally-text {
  color: white;
}

.jally-logo-img {
  height: 45px;
}

.columns {
  margin-right: 0;
  margin-left: 0;
}

.jally-modal {
  .modal-card-head {
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
    padding-bottom: 0;
  }
  .modal-card-body {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 0;
    .jally-modal-title {
      font-style: normal;
      font-weight: bold;
      font-size: 35px;
      line-height: 30px;
    }
  }
}

.jally-dropdown-menu {
  width: 50px;
  .dropdown-content {
    background-color: #F9F9F9;
    border-radius: 10px;
    .dropdown-item {
      font-size: 18px;
    }
  }
}

.jally-button {
  height: 47px;
  background-color: #F12587;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 14px;
  border: none;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  &:disabled {
    background-color: #F12587;
    opacity: 0.5;
    color: white;
  }
}

.jally-button:hover {
  opacity: 0.9;
  color: white;
}

.button.jally-button-small {
  height: 37px;
  font-weight: 400;
  font-size: 18px;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 6px;
}

.slider-field {
  position: relative;
}

.hide-in-five {
  animation: hideAnimation 0s ease-in 5s forwards;
  animation-fill-mode: forwards;
}
@keyframes hideAnimation {
  to {
    width:0;
    height:0;
    opacity: 0;
  }
}
